@tailwind base;
@tailwind components;
@tailwind utilities;

/* general elements */

body {
    margin: 0;
    width: 100%;
    font-weight: 400;
    font-style: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    /*background-color: #181818;*/

    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    font-family: "sentinel", Georgia, Times, serif;
    line-height: 1.6;
    color: #181818;
    font-size: 100% 
}

form{
    padding-top: 3em;
}

*, *:before, *:after {
    box-sizing: border-box 
}
main {
    flex-grow: 1;
    background-color: #f9f9f9;;
}
a {
    text-decoration: none;
    background-color: transparent;
    outline: 0 
}
h1 {
    font-size: 2em;
    margin: 0.67em 0 
}

h1, h2, h3, h4, h5, h6, ul, ol, dl, li {
    margin: 0;
    padding: 0 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "knockout", Impact, sans-serif;
    font-weight: 700;
    letter-spacing: .03em;
    text-transform: uppercase;
    line-height: 1 
}

h2, .font-h2 {
    margin-bottom: .25em;
    font-size: 2.25em 
}

h4  {
    margin-bottom: .5em;
    font-size: 6em 
}

h6, .font-h6 {
    font-size: 1em 
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0 
}
figure {
    margin: 0;
    max-width: 728px; 
}

.joe {  
    margin-left: 0;
}

p {
    margin-top: 0;
    margin-bottom: .75em 
}
a {
    color: inherit;
    transition: color .5s ease-out 
}
a img {
    transition: border-color .3s ease-out 
}
a:hover img, a:focus img {
    border-color: #ee352a 
}

img {
    max-width: 100%;
    height: auto 
}
.row, .row-lg, .row-xl, .row-xxl, .row-full {
    width: 92%;
    max-width: 67em;
    margin-left: auto;
    margin-right: auto 
}
.row:after, .row-lg:after, .row-xl:after, .row-xxl:after, .row-full:after {
    content: '';
    display: table;
    clear: both 
}

.js-imgbg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden 
}
.js-imgbg img {
    z-index: -1;
    position: relative 
}


/* Event card */
.events {
    padding-bottom: 4em 
}
.events__grid {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin-left: -.5em;
    margin-right: -.5em 
}
.events__grid>* {
    padding: .5em;
    flex-basis: 100% 
}
@media (min-width: 54em) {
    .events__grid>* {
        flex-basis: 33.333% 
}
}
@media (min-width: 65em) {
    .events__grid>* {
        flex-basis: 25% 
}
}
@media (min-width: 91em) {
    .events__grid>* {
        flex-basis: 20% 
}
}
.events .event-card {
    margin-bottom: 0.25em 
}
.event-card {
    position: relative;
    -webkit-animation: fade-in 0.8s ease both;
    animation: fade-in 0.8s ease both 
}
.event-card:nth-child(1) {
    -webkit-animation-delay: .1s;
    animation-delay: .1s 
}
.event-card:nth-child(2) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s 
}
.event-card:nth-child(3) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s 
}
.event-card:nth-child(4) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s 
}
.event-card:nth-child(5) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s 
}
.event-card:nth-child(6) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s 
}
.event-card:nth-child(7) {
    -webkit-animation-delay: .7s;
    animation-delay: .7s 
}
.event-card:nth-child(8) {
    -webkit-animation-delay: .8s;
    animation-delay: .8s 
}
.event-card:nth-child(9) {
    -webkit-animation-delay: .9s;
    animation-delay: .9s 
}

.event-card>a {

    display: block;
    position: relative;
    transform: translateY(0);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 
}
.event-card>a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    transition: opacity 0.7s ease;
    box-shadow: 0px 0.1em 0.2em 0.1em rgba(0, 0, 0, 0.6) 
}
.event-card>a:hover .event-card>a:after {
    color:#ee352a;
    opacity: 1 ; 

}
.event-card>a:hover, .event-card>a:focus {
    transform: translateY(-.75em) 
}
.event-card>a:hover .event-card__title, .event-card>a:focus .event-card__title {
    text-decoration: none ;
    color:#ee352a;
}
.event-card__img {
    position: relative;
    height: 0;
    margin: 0;
    padding: 0 0 106%;
    overflow: hidden;
    border: 0 
}
.event-card__date {
    position: absolute;
    top: -.5em;
    left: .5em;
    width: 4.75em;
    padding: .8em .5em 0.15em;
    font-size: 16px;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    border: 2px solid #ee352a;
    border-bottom: 0;
    background-color: rgba(255, 255, 255, 0.9) 
}
.event-card__date:after {
    content: '';
    position: absolute;
    top: 100%;
    left: -2px;
    right: -2px;
    display: block;
    height: 2em;
    background-image: url(/images/ticket-bottom.png?c9e59cbc192dec57fde63f72a2448df9);
    background-size: 100% auto;
    background-position: 0 0;
    background-repeat: no-repeat 
}
.event-card__date:hover {
color: #ee352a;
}
 a .event-card__numb:hover {
    color: #ee352a;
}
.event-card__numb {
    display: block;
    font-size: 1.5em;
    font-style: normal;
    font-family: "knockout", Impact, sans-serif;
    font-weight: 700;
    letter-spacing: .03em;
    text-transform: uppercase 
}
.event-card__day, .event-card__month {
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
    text-align: center 
}
.event-card__info {
    position: relative;
    min-height: 12em;
    padding: 1em 1em 3em;
    background-color: #fff;
    text-align: left !important 
}
.event-card__label {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: .8em 
}
.event-card__time {
    font-style: italic;
    color: #1b1514;
    font-size: .9em 
}
.event-card__title {
    margin: 0.4em 0 0.5em;
    font-size: 1.4em;
    line-height: 1.1;
}
.event-card__footer {
    position: absolute;
    bottom: 1em;
    color: #b9b9b9 
}
.event-card__link {
    font-size: 1em;
    font-family: "knockout", Impact, sans-serif;
    font-weight: 700;
    letter-spacing: .03em;
    text-transform: uppercase 
}

.projects {
  font-family: "knockout", Impact, sans-serif;
}

.mari {
    background-image: linear-gradient(#19b5ff, #fff)
}

.abc {
  background-image: linear-gradient(#290708, #f44614);
}

.title {
    position:relative;
    padding: 1.2em 0;
    text-align: center;
    color: #f9f9f9;
    background: #ee352a 
}
.title__header {
    color: white;
    letter-spacing: 0.05em;
    margin: 0 auto 
}

.site-header__logo {
    display: display;
    float: left;
    line-height: 0;
    transition: opacity .5s ease 
}
.site-header__logo:hover {
    opacity: .6 
}
.site-header__logo img {
    margin-left: 1em;
    vertical-align: middle;
}
/*.site-header__nav {
    */
#navbarNav {
  text-align: right ;
}
/*.site-header__nav ul {
*/
#navbarNav ul {
 
margin-right: 3em;
padding-left: 0;
list-style-type: none;
padding: 0 
}
li {
font-family: "knockout", Impact, sans-serif;
font-weight: 700;
text-transform: uppercase;
position: relative;
display: inline-block;
vertical-align: middle;
margin-left: 1.5em;
padding: 0 
}
#navbarNav li:first-child {
margin-left: 0em
}
/*.site-header__nav a {
*/
#navbarNav a {
text-decoration: none;
display: inline-block;
font-size: 1.2em;
color: #e0bb6b;
transition: color .5s ease-out 
}
/*.site-header__nav a:hover{
color: #ee352a;
}
*/
#navbarNav a:hover{
color: #ee352a;
}
/*.site-header__nav a::after {
*/
#navbarNav a::after {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: .05em;
background-color: #ee352a;
opacity: 0;
transition: opacity 300ms, transform 300ms;
transform: scale(0);
transform-origin: center;
color: #ee352a;
}
/*.site-header__nav a:hover::after, .site-header__nav a:focus::after, .site-header__nav a:active {
*/


#navbarNav a:hover::after, #navbarNav a:focus::after, #navbarNav a:active {
opacity: 1;
transform: translate3d(0, 0.2em, 0);
transform: scale(1);
}
#navbarNav a.site-header__cta {
padding: .3em 1.3em;
line-height: 1;
color: #ee352a;
border: 2px solid #ee352a;
-o-border-image: url(/images/ticket-border.png?b270c0186b196acde48846db7d1b21a1) 40% stretch;
border-image: url(/images/ticket-border.png?b270c0186b196acde48846db7d1b21a1) 40% stretch;
border-image-width: 6;
border-image-outset: 3;
transition: transform 0.5s cubic-bezier(0, 0, 0.16, 2.26);
will-change: transform 
}
.navbar-collapse.collapse.show a.site-header__cta{
margin-top: .5em;
}
.navbar-collapse a.site-header__cta{
margin-top: 0;
}
a.site-header__cta:hover, a.site-header__cta:focus {
transform: rotate(-2deg) scale(1.06) 
}
.site-footer {
position: relative;
padding: 4em 0;
font-size: .9em;
color: #ee352a;
background-color: #f9f9f9;
border-top: 1px solid #ee352a 
}
.site-footer__heading {
margin-bottom: 0.5em;
font-family: "knockout", Impact, sans-serif;
font-size: 1.3em;
letter-spacing: .03em;
text-transform: uppercase 
}
.site-footer__nav {
margin-bottom: 1.5em 
}
.site-footer ul {
list-style-type: none 
}
.site-footer a {
font-style: italic 
}
.site-footer a:focus, .site-footer a:hover {
color: #181818 
}
.site-footer [class*='icon-'] {
font-size: 1.3em;
font-style: normal;
margin-right: 1em 
}
.bg-alpha, .bg--alpha {
background-color: #ee352a 
}
.u-centered-block {
margin: 0 auto !important 
}
.resume {
font-size: 1em;
-webkit-animation: scaleItUp .5s 1 ;
        animation: scaleItUp .5s 1 ;
}
@-webkit-keyframes scaleItUp {
from {
    transform: scale(0);
}
to {
    transform: scale(1);
}
}
@keyframes scaleItUp {
from {
    transform: scale(0);
}
to {
    transform: scale(1);
}
}
.resume h5{
color: rgb(80, 80, 80);
padding-left:3em;
font-family: Arial, Helvetica, sans-serif;
text-transform:none ;
}
.resume h5 strong{
font-style: italic;
color: black;
}
/* technology */
.tech {
background-color: #333;
}
.tech .infoHeader{
color: rgb(205, 133, 50);
text-align: center;
font-size: 1.8rem;
font-family: 'Monda', sans-serif;
}
.tech .techContent li {
padding: 5px;
}
.tech .techContent a {
font-style: italic;
color: #e0bb6b;
font-size: 1.5rem;
}
.tech .techContent a:hover {
color: #ee352a 
}
.tech .techContent div {
margin: 2rem;
}
.tech .techContent h1 {
font-family: 'Monda', sans-serif;
color: white;
font-size: 1.6rem;
}

/* animation */
.ani-fade-in {
-webkit-animation: fade-in ease-in-out 1s both;
animation: fade-in ease-in-out 1s both;
}

@-webkit-keyframes fade-in {
0% {
    opacity: 0 
}
100% {
    opacity: 1 
}
}
@keyframes fade-in {
0% {
    opacity: 0 
}
100% {
    opacity: 1 
}
}
.ani-fade-out {
-webkit-animation: fade-in ease-in-out 1s both;
animation: fade-in ease-in-out 1s both 
}
@-webkit-keyframes fade-out {
0% {
    opacity: 1 
}
100% {
    opacity: 0 
}
}
@keyframes fade-out {
0% {
    opacity: 1 
}
100% {
    opacity: 0 
}
}
.ani-fade-up {
-webkit-animation: fade-up ease-in-out 1s .4s both;
animation: fade-up ease-in-out 1s .4s both 
}
@-webkit-keyframes fade-up {
0% {
    opacity: 0;
    transform: translateY(0.5em) 
}
100% {
    opacity: 1;
    transform: translateY(0) 
}
}
@keyframes fade-up {
0% {
    opacity: 0;
    transform: translateY(0.5em) 
}
100% {
    opacity: 1;
    transform: translateY(0) 
}
}
.ani-fade-down {
-webkit-animation: fade-down ease-in-out 1s .4s both;
animation: fade-down ease-in-out 1s .4s both 
}
@-webkit-keyframes fade-down {
0% {
    transform: translateY(-150px) 
}
100% {
    transform: translateY(0px) 
}
}
@keyframes fade-down {
0% {
    transform: translateY(-150px) 
}
100% {
    transform: translateY(0px) 
}
}

/* media */

@media (min-width: 32em) {
body {
    font-size: 110% 
}
}
@media (min-width: 54em) {
body {
    font-size: 111% 
}
}
@media (min-width: 65em) {
body {
    font-size: 115% 
}
}
@media (min-width: 75em) {
body {
    font-size: 118% 
}
}
@media (min-width: 91em) {
body {
    font-size: 122% 
}
}
@media (min-width: 115em) {
body {
    font-size: 125% 
}
}
@media (min-width: 130em) {
body {
    font-size: 135% 
}
}
@media (min-width: 54em) {
.title {
    padding: 1.25em 0 
}
.site-header__logo {
    width: 11em 
}
}
@media (min-width: 91em) {
h4, .font-h4, .title__header {
    font-size: 2em 
}
}
/*@media (min-width: 68.75em) {
*/
@media (min-width: 62em) {
    .site-header__nav {
        display: block;
        float: right;
}
}
@media (min-width: 54em) {
    .row, .row-lg, .row-xl, .row-xxl, .row-full {
        max-width: 94% 
}
}
@media (min-width: 65em) {
    .row, .row-lg, .row-xl, .row-xxl, .row-full {
        max-width: 90% 
}
}
@media (min-width: 91em) {
    .row, .row-lg, .row-xl, .row-xxl, .row-full {
        max-width: 80% 
}
}
@media (min-width: 115em) {
    .row, .row-lg, .row-xl, .row-xxl, .row-full {
        max-width: 67em 
}
}
@media (min-width: 54em) {
    .row-lg {
        max-width: 96% 
}
}
@media (min-width: 91em) {
    .row-lg {
        max-width: 90% 
}
}
@media (min-width: 54em) {
    .row-xl {
        max-width: 98% 
}
}
@media (min-width: 91em) {
    .row-xl {
        max-width: 40 
}
}
@media (min-width: 54em) {
    .row-xxl {
        width: 98%;
        max-width: 98% 
}
    a.site-header__cta {

}
    .site-footer {
        padding-bottom: 2em 
}
}
@media (max-width: 54em) {
    .site-footer .g-2 {
        width: 50% 
}
}


.box1 {
    align-items: center;
    width:100px;
    height: 100px;
     background-color: aqua;
}  
.box2 {
    width:100px;
    height: 100px;
    position: relative;
    background-color: rgb(255, 196, 0);
}
.box3 {
    width:100px;
    height: 100px;
    position: absolute;
    align-items: right;
    background-color: rgb(255, 30, 0);
}
.hover\:border-gray-300:hover {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.hover\:bg-gray-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}
.hover\:text-gray-500:hover {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.hover\:text-gray-400:hover {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.hover\:text-gray-700:hover {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.hover\:text-gray-800:hover {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}
.hover\:text-gray-900:hover {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.focus\:z-10:focus {
  z-index: 10;
}
.focus\:border-blue-300:focus {
  --tw-border-opacity: 1;
  border-color: rgb(147 197 253 / var(--tw-border-opacity));
}
.focus\:border-indigo-300:focus {
  --tw-border-opacity: 1;
  border-color: rgb(165 180 252 / var(--tw-border-opacity));
}
.focus\:border-indigo-700:focus {
  --tw-border-opacity: 1;
  border-color: rgb(67 56 202 / var(--tw-border-opacity));
}
.focus\:border-gray-300:focus {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.focus\:bg-gray-100:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.focus\:bg-indigo-100:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(224 231 255 / var(--tw-bg-opacity));
}
.focus\:text-gray-700:focus {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.focus\:text-indigo-800:focus {
  --tw-text-opacity: 1;
  color: rgb(55 48 163 / var(--tw-text-opacity));
}
.focus\:text-gray-500:focus {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.focus\:ring:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.focus\:ring-indigo-200:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(199 210 254 / var(--tw-ring-opacity));
}
.focus\:ring-opacity-50:focus {
  --tw-ring-opacity: 0.5;
}
.active\:bg-gray-100:active {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.active\:bg-gray-900:active {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}
.active\:text-gray-700:active {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.active\:text-gray-500:active {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
@media (prefers-color-scheme: dark) {

  .dark\:border-gray-700 {
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
  }

  .dark\:bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  }

  .dark\:bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  }

  .dark\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .dark\:text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }
}
@media (min-width: 640px) {

  .sm\:-my-px {
    margin-top: -1px;
    margin-bottom: -1px;
  }

  .sm\:ml-10 {
    margin-left: 2.5rem;
  }

  .sm\:ml-6 {
    margin-left: 1.5rem;
  }

  .sm\:ml-0 {
    margin-left: 0px;
  }

  .sm\:block {
    display: block;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:h-20 {
    height: 5rem;
  }

  .sm\:max-w-md {
    max-width: 28rem;
  }

  .sm\:flex-1 {
    flex: 1 1 0%;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:justify-center {
    justify-content: center;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:rounded-lg {
    border-radius: 0.5rem;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:pt-0 {
    padding-top: 0px;
  }

  .sm\:text-left {
    text-align: left;
  }

  .sm\:text-right {
    text-align: right;
  }
}
@media (min-width: 768px) {

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:border-t-0 {
    border-top-width: 0px;
  }

  .md\:border-l {
    border-left-width: 1px;
  }
}
@media (min-width: 1024px) {

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
 
